<div class="content-list-item {{ contentListItem.class }}">
  <span class="content-list-item--link">
  {% if contentListItem.url %}
    <a href="{{ contentListItem.url }}" title="{{ contentListItem.title }}">
  {% endif %}
    {{ contentListItem.label }}
  {% if contentListItem.url %}
    </a>
  {% endif %}
  </span>
  {% if contentListItem.text %}
      <span class="content-list-item--text">{{ contentListItem.text }}</span>
  {% endif %}
  {% if contentListItem.icon %}
    <span class="content-list-item--icon js-toggle-element {{ contentListItem.iconJsClass }}" data-toggle="js-panel-menu">{% include "elements-icon-default" with { iconDefault: { icon: contentListItem.icon } } %}</span>
  {% endif %}
  {% block footer %}
  {% endblock %}
</div>
